<html>
<head>
	<title>User_Dashboard</title>
	{% load staticfiles %}
	 <meta name="viewport" content="width=device-width, initial-scale=0.5">
	<script src = "{% static '/js/jquery.js' %}" type="text/javascript"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
<style>
	{% load staticfiles %}
	.Manage {
		display: inline-block;
	}
	a {
		color: rgb(55, 150, 239);
	}
	#removeUser {
		display: inline-block;
		margin-left: 2%;
	}
</style>
<body>
	{% if request.session.login > 0 %}
	<header>
		<ul>
			<li><a href="{%url 'GreatHomes:index' %}">HomePage</a></li>
			<li><a href="{%url 'UserDashboard:index' %}">DashBoard</a></li>
			<li><a href="{%url 'UserDashboard:editProfileDisplay' %}">Edit Profile</a></li>
			<li><a href="{%url 'GreatHomes:showAgentListing' id=request.session.login %}">Your Profile</a></li>
			<li><a href="{%url 'GreatHomes:showAllListing' %}">Listings</a></li>
			<li><a href="{%url 'GreatHomes:addListingDisplay' %}">Add Listing</a></li>
		{% if user.user_level == "Admin" %}
			<li><a href="{%url 'UserDashboard:createDisplay' %}">Add New Agent</a></li>
		{% endif %}
			<li><a href="{%url 'UserDashboard:logout' %}">Log Off</a></li>
		</ul>
	</header>
	{% endif %}

	<div class = "col-sm-4">
		<h2 class = "Manage">Company Agents</h2>
	</div>

	<div class = "table-responsive col-sm-12">
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Name</th>
				<th>Email</th>
				<th>Phone #</th>
				<th>Joined Date</th>
				{% if user.user_level == "Admin" %}
				<th>Actions</th>
				{% endif %}
			</tr>	
		</thead>
		<tbody>
			{% for user in users %}
			<tr>
				<td><a href="{%url 'GreatHomes:showAgentListing' id=user.id %}">{{user.firstName}} {{user.lastName}}</a></td>
				<td>{{user.email}}</td>
				<td>{{user.phone}}</td>
				<td>{{user.created_at}}</td>
			{% if activeUser.user_level == "Admin" %}
				<td class = "td-buttons"><a class = "btn btn-success" href="{%url 'UserDashboard:adminEdit' id=user.id %}">Edit</a><form id="removeUser" action = "{%url 'login:removeUser' id=user.id %}">
				{% csrf_token %}
				 <button class = "btn btn-danger"
				 onclick="return myFunction()">Remove</button>
				</form></td>
			{% endif %}
			</tr>
			{% endfor %}
		</tbody>
	</table>
	</div>
</body>
<script type="text/javascript">
	function myFunction() {
	    if (confirm("Are you sure you want to remove user? ") == true) {
	    	document.getElementById('removeUser').submit();
		    }
	    else {
        	return false;
        	alert("nope");
	  	}
	}
</script>
</html>