<html>
<head>
	<title>Add Listing</title>
	{% load staticfiles %}
	<meta name="viewport" content="width=device-width, initial-scale=0.5">
	<script src = "{% static '/js/jquery.js' %}" type="text/javascript"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'GreatHomesRealty/ionicons.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
<style>	
	.error {
		color: red;
		margin-left: 25%;
	}
	.red {
		color: red;
		position: relative;
		left: -2%;
	}
	.smallH1 {
		font-size: .4em;
		color: red;
	}
	.body {
		margin: 0 1%;
	}
</style>
<body>
	{% if request.session.login > 0 %}
	<header>
		<ul>
			<li><a href="{%url 'GreatHomes:index' %}">HomePage</a></li>
			<li><a href="{%url 'UserDashboard:index' %}">DashBoard</a></li>
			<li><a href="{%url 'UserDashboard:editProfileDisplay' %}">Edit Profile</a></li>
			<li><a href="{%url 'GreatHomes:showAgentListing' id=request.session.login %}">Your Profile</a></li>
			<li><a href="{%url 'GreatHomes:showAllListing' %}">Listings</a></li>
			<li><a href="{%url 'GreatHomes:addListingDisplay' %}">Add Listing</a></li>
		{% if user.user_level == "Admin" %}
			<li><a href="{%url 'UserDashboard:createDisplay' %}">Add New Agent</a></li>
		{% endif %}
			<li><a href="{%url 'UserDashboard:logout' %}">Log Off</a></li>
		</ul>
	</header>
	{% endif %}
	<div class = "header">
		<div class = "container-fluid">
			<div class = "col-sm-5">
				<h1><a href="{%url 'GreatHomes:index' %}"><i class = "ion-ios-home"></i> Great Homes Realty</a></h1>
			</div>
			<div class = "col-sm-7 navlinks">
				<ul>
					<li>
						  <a class="dropdown-toggle" data-toggle="dropdown">All Listings
						  <span class="caret"></span></a>
						  <ul class="dropdown-menu">
						    <li><a href="{%url 'GreatHomes:showAllListing' %}">For Sale</a></li>
						    <li><a href="{%url 'GreatHomes:showAllRentals' %}">For Rent</a></li>
						  </ul>
					</li>
					<li>
						  <a class="dropdown-toggle" data-toggle="dropdown">Buying
						  <span class="caret"></span></a>
						  <ul class="dropdown-menu">
						    <li><a href="{%url 'GreatHomes:buying' %}">Buying a Home</a></li>
						    <li><a href="{%url 'GreatHomes:mortgage' %}">Mortgages</a></li>
						    <li><a href="{%url 'GreatHomes:owningHome' %}">Owning A Home</a></li>
						  </ul>
					</li>
					<li>
						<a class="dropdown-toggle" data-toggle="dropdown">Selling
						  <span class="caret"></span></a>
						  <ul class="dropdown-menu">
						    <li><a href="{%url 'GreatHomes:selling' %}">Selling</a></li>
						    <li><a href="{%url 'GreatHomes:investing' %}">Investing</a></li>
						  </ul>
					<li><a href="{%url 'GreatHomes:aboutUs' %}">About Us</a></li>
					<li><a href="{%url 'GreatHomes:suscribeDisplay' %}">Newsfeed</a></li>
					<li><a href="{%url 'login:index' %}">Login</a></li>
				</ul>
			</div>
		</div>
	</div>

	<div class = "container-fluid">
	<div class = "row">
	<form action = "{%url 'GreatHomes:addListing' %}" method='post' class = "addListingForm form-horizontal">
        {% csrf_token %}
        <div class = "addListingAjax">
	<div class = "col-sm-6">
          <h1>Add Listing</h1>
            <p class = 'error allInputLengths'></p>
	        <div class = "form-group">
            <label for = "status" class = "col-sm-3 control-label">Status: </label>
             <div class = "col-sm-9">
	         <select name = "status" class="form-control" id = "status">
				<option>Available</option>
				<option>Undercontract</option>
				<option>Sold</option>
				<option>Open House</option>
				<option>For Rent</option>
				<option>Rented Out</option>
			</select>
			</div>
         </div>
          <div class = "form-group">
            <label for ="streetAddress" class="col-sm-3 control-label">Street Address:</label>
            <div class = "col-sm-9">
              <input type='text' class = "form-control" name='streetAddress' id = "streetAddress" placeholder = "Street Address"> 
            </div>
          </div>
          <div class = "form-group">
            <label for ="suite" class="col-sm-3 control-label">Apt/Suite #:</label>
            <div class = "col-sm-9">
              <input type='text' class = "form-control" name='suite' id = "suite" placeholder = "#"> 
            </div>
          </div>
          <div class = "form-group">
            <label for ="city" class="col-sm-3 control-label">City:</label>
            <div class = "col-sm-9">
              <input type='text' class = "form-control" name='city' id = "city" placeholder = "City"> 
            </div>
          </div>
           <div class = "form-group">
            <label for ="state" class="col-sm-3 control-label">State:</label>
            <div class = "col-sm-9">
              <input type='text' class = "form-control" name='state' id = "state" placeholder = "State"> 
            </div>
          </div>
           <div class = "form-group">
            <label for ="zipcode" class="col-sm-3 control-label">Zip Code:</label>
            <div class = "col-sm-9">
              <input type='number' class = "form-control" name='zipcode' id = "zipcode" placeholder = "Zip Code"> 
            </div>
          </div>
          <div class = "form-group">
	          <label for = "MLS" class = "col-sm-3 control-label">MLS number:</label>
	          <div class = "col-sm-9">
	            <input type='number' name='mls' class = "form-control" id = "mls" placeholder = "MLS">
          </div>
     	 </div>
          <div class = "form-group">
            <label for = "price" class = "col-sm-3 control-label">Price: </label>
            <div class = "col-sm-9">
              <input type='number' name='price' class = "form-control" id = "price" placeholder = "Price">
            </div>
          </div>
         <div class = "form-group">
            <label for = "bedrooms" class = "col-sm-3 control-label">Bedrooms: </label>
             <div class = "col-sm-9">
	         <input type='number' name='bedrooms' class = "form-control" id = "bedrooms" placeholder = "#">
			</div>
         </div>
          <div class = "form-group">
            <label for = "bathrooms" class = "col-sm-3 control-label">Bathrooms: </label>
             <div class = "col-sm-9">
	         <input type='number' name='bathrooms' class = "form-control" id = "bathrooms" step="0.5" placeholder = "#">
			</div>
         </div>
        </div>

        <div class = "col-sm-6 form-horizontal">
        <h1>&zwnj;</h1>
        <div class = "form-group">
          <label for = "squarefootage" class = "col-sm-3 control-label">Square Footage:</label>
          <div class = "col-sm-9">
            <input type='number' name='squarefootage' class = "form-control" id = "squarefootage" placeholder = "Square Footage">
          </div>
        </div>
        <div class = "form-group">
          <label for = "housetype" class = "col-sm-3 control-label">House Type:</label>
          <div class = "col-sm-9">
            <input type='text' name='housetype' class = "form-control" id = "housetype" placeholder = "House Type">
          </div>
        </div>
        <div class = "form-group">
          <label for = "county" class = "col-sm-3 control-label">County:</label>
          <div class = "col-sm-9">
            <input type='text' name='county' class = "form-control" id = "county" placeholder = "County">
          </div>
        </div>
        <div class = "form-group">
          <label for = "neighborhood" class = "col-sm-3 control-label">Neighborhood:</label>
          <div class = "col-sm-9">
            <input type='text' name='neighborhood' class = "form-control" id = "neighborhood"placeholder = "neighborhood">
          </div>
        </div>
		<div class = "form-group">
          <label for = "neighborhood" class = "col-sm-3 control-label">Year built:</label>
          <div class = "col-sm-9">
            <input type='number' name='yearBuilt' class = "form-control" id = "yearBuilt"placeholder = "Year Built">
          </div>
        </div>
         <div class="form-group">
            <label for="description" class = "col-sm-3 control-label">Description:</label>
            <div class = "col-sm-9">
            <textarea rows = "13" class="form-control" rows="6" name="description" id="description" placeholder= "Description" ></textarea>
          	</div>
         </div>
            <p class = 'error allInputLengths'></p>
 		<div class = "form-group">
 			<div class = "col-sm-8 col-sm-offset-3">
            <input type='submit' value='Add Listing' class = "btn btn-primary">
           </div>
	       </div>
         </div>
        </form>
	    </div>
       </div>
   </div>
   </div>


	<div class = "footer">
		<div class = "container-fluid">
		<div class = "row">
			<div class = "col-xs-3">
				<address>
				Principal Broker: Bill Yu<br>
				Cell: (410)-984-6661<br>
				Email: BillYu99@gmail.com <br>
				9822 Tenney Ct <br> Ellicott City, MD 21042
				</address>
			</div>
			<div class = "col-xs-8 col-xs-offset-1 footerlist">
				<ul>
					<li><a href="{%url 'GreatHomes:index' %}">Home</a></li>
					<li><a href="{%url 'GreatHomes:buying' %}">Buying</a></li>
					<li><a href="{%url 'GreatHomes:selling' %}">Selling</a></li>
					<li><a href="{%url 'GreatHomes:aboutUs' %}">About Us</a></li>
					<li><a href="{%url 'GreatHomes:suscribeDisplay' %}">Newsfeed</a></li>
				</ul>
			</div>
		</div>
		</div>
	</div>
</body>
 <script type="text/javascript">
	$('.addListingForm').on('submit', function(e){
	    e.preventDefault()
	    $.ajax({
	      url: '/addListing',
	      method: 'post',
	      data: $(this).serialize(),
	      success: function(serverResponse){
	      	console.log(serverResponse)
	      	if(!serverResponse['allInputLengths']) {
	            $('.allInputLengths').html("")
	        } else {
	            $('.allInputLengths').html(serverResponse['allInputLengths'])
	        }
	      	if(serverResponse.data) {
	      		window.location.replace("http://localhost:8000/showListing/" + serverResponse.data)
	      	} 
	      }
	    })
	  });
 </script>
</html>