    <div class = "changePasswordAjax">
    {% if IncorrectPasscode %}
      <p class = 'error'> {{ IncorrectPasscode }} </p>
    {% endif %}
    <div class = "form-group">
      <label for = "passcode" class = "col-sm-3 control-label">Passcode:</label>
      <div class = "col-sm-9">
        <input type ='password' name ='passcode' id = "passcode" class = "form-control" placeholder = "Passcode">
      </div>
    </div>
    {% if PasswordLength %}
      <p class = 'error'> {{ PasswordLength }} </p>
    {% endif %}
    {% if InvalidPassword %}
      <p class = 'error'> {{ InvalidPassword }} </p>
    {% endif %}
    <div class = "form-group">
      <label for = "passcode" class = "col-sm-3 control-label">Password:</label>
      <div class = "col-sm-9">
        <input type ='password' name ='password' id = "password" class = "form-control" placeholder = "password">
      </div>
    </div>
    {% if PasswordNonmatch %}
      <p class = 'error'> {{ PasswordNonmatch }} </p>
    {% endif %}
    <div class = "form-group">
      <label for = "email" class = "col-sm-3 control-label">Confirm Password:</label>
      <div class = "col-sm-9">
        <input type ='password' name ='confirmPassword' id = "confirmPassword" class = "form-control" placeholder = "password">
        <input type='submit' value='Reset Password' class = "btn btn-success last-btn">
      </div>
    </div>
   </form>
  </div>
  </div>