<html>
    <head>
        <title>Login and Reg Index</title>
        {% load staticfiles %}
        <script src = "{% static '/js/jquery.js' %}" type="text/javascript"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'GreatHomesRealty/ionicons.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    </head>
    <style>
    {% load staticfiles %}
    .error {
      color:red;
      margin-left: 200px;
    }
    .green {
      color: green;
    }
    .btn {
      margin-top: 15px;
    }
    .last-btn {
      margin-bottom: 5%;
    }
    .registerAjax h1,
    .loginAjax h1 {
      margin-left: 50px;
    }
    body {
    background-image: linear-gradient(rgba(250, 197, 100, .65), rgba(250, 197, 100, .65)), url('{% static "GreatHomesRealty/diagonal_striped_brick.png" %}');
    }
    </style>
    <body>

{% if request.session.login > 0 %}
  <header>
    <ul>
      <li><a href="{%url 'GreatHomes:index' %}">HomePage</a></li>
      <li><a href="{%url 'UserDashboard:index' %}">DashBoard</a></li>
      <li><a href="{%url 'UserDashboard:editProfileDisplay' %}">Edit Profile</a></li>
      <li><a href="{%url 'GreatHomes:showAgentListing' id=request.session.login %}">Your Profile</a></li>
      <li><a href="{%url 'GreatHomes:showAllListing' %}">Listings</a></li>
      <li><a href="{%url 'GreatHomes:addListingDisplay' %}">Add Listing</a></li>
    {% if user.user_level == "Admin" %}
      <li><a href="{%url 'UserDashboard:createDisplay' %}">Add New Agent</a></li>
    {% endif %}
      <li><a href="{%url 'UserDashboard:logout' %}">Log Off</a></li>
    </ul>
  </header>
  {% endif %}
  <div class = "header">
    <div class = "container-fluid">
      <div class = "col-sm-5">
        <h1 class = "mainh1"><a href="{%url 'GreatHomes:index' %}"><i class = "ion-ios-home"></i> Great Homes Realty</a></h1>
      </div>
      <div class = "col-sm-7 navlinks">
        <ul>
          <li>
              <a class="dropdown-toggle" data-toggle="dropdown">All Listings
              <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{%url 'GreatHomes:showAllListing' %}">For Sale</a></li>
                <li><a href="{%url 'GreatHomes:showAllRentals' %}">For Rent</a></li>
              </ul>
          </li>
          <li>
              <a class="dropdown-toggle" data-toggle="dropdown">Buying
              <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{%url 'GreatHomes:buying' %}">Buying a Home</a></li>
                <li><a href="{%url 'GreatHomes:mortgage' %}">Mortgages</a></li>
                <li><a href="{%url 'GreatHomes:owningHome' %}">Owning A Home</a></li>
              </ul>
          </li>
          <li>
            <a class="dropdown-toggle" data-toggle="dropdown">Selling
              <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{%url 'GreatHomes:selling' %}">Selling</a></li>
                <li><a href="{%url 'GreatHomes:investing' %}">Investing</a></li>
              </ul>
          <li><a href="{%url 'GreatHomes:aboutUs' %}">About Us</a></li>
          <li><a href="{%url 'GreatHomes:suscribeDisplay' %}">Newsfeed</a></li>
          <li><a href="{%url 'login:index' %}">Login</a></li>
        </ul>
      </div>
    </div>
  </div>

    <form action="{%url 'login:register' %}" method='post' class = "form-horizontal registerForm">
        {% csrf_token %}
        <div class = "RegisterAjax">
          <h1>Agent Registration</h1>
            <p class = 'error TwoCharacters'></p>
            <p class = 'error IsAlpha'></p>
          <div class = "form-group">
            <label for ="first_name" class="col-sm-2 control-label">First Name:</label>
            <div class = "col-sm-6">
              <input type='text' class = "form-control" name='first_name' id = "first_name" placeholder = "First Name"> 
            </div>
          </div>
          <div class = "form-group">
            <label for = "last_name" class = "col-sm-2 control-label">Last Name:</label>
            <div class = "col-sm-6">
              <input type='text' name='last_name' class = "form-control" id = "last_name" placeholder = "Last Name">
            </div>
          </div>
            <p class = 'error EmailRequired'></p>
            <p class = 'error InvalidEmail'></p>
            <p class = 'error EmailDuplicate'></p>
        <div class = "form-group">
          <label for = "email" class = "col-sm-2 control-label">Email:</label>
          <div class = "col-sm-6">
            <input type='text' name='email' class = "form-control" id = "email" placeholder = "Email">
          </div>
        </div>
            <p class = 'error InvalidPhone'></p>
        <div class = "form-group">
          <label for = "phone" class = "col-sm-2 control-label">Phone Number: (XXX)-XXX-XXXX </label>
          <div class = "col-sm-6">
            <input type='tel' name='phone' class = "form-control" id = "phone" placeholder = "Number">
          </div>
        </div>
            <p class = 'error PasswordRequired'></p>
            <p class = 'error PasswordLength'></p>
            <p class = 'error InvalidPassword'></p>
            <p class = 'error PasswordNonmatch'></p>
        <div class = "form-group">
          <label for = "password" class = "col-sm-2 control-label">Password:</label>
          <div class = "col-sm-6">
            <input type='password' name='password' class = "form-control" id = "password" placeholder = "Password">
          </div>
        </div>
        <div class = "form-group">
          <label for = "confirmpassword" class = "col-sm-2 control-label">Confirm Password:</label>
          <div class = "col-sm-6">
            <input type='password' name='confirm_password' class = "form-control" id = "confirmpassword"placeholder = "Password">
          </div>
        </div>
          <p class = 'error passcodeError'></p>
        <div class = "form-group">
          <label for = "passcode" class = "col-sm-2 control-label">Agent Passcode:</label>
          <div class = "col-sm-6">
            <input type='password' name='passcode' class = "form-control" id = "passcode"placeholder = "Passcode">
            <input type='submit' value='Create User' class = "btn btn-success">
          </div>
        </div>
        </form>
  </div>
        <form action="{%url 'login:login' %}" method='post' class = "form-horizontal loginForm">
        {% csrf_token %}
        <div class = "loginAjax">
          <h1> Agent Login </h1>
            <p class = 'error NoEmail'></p>
          <div class = "form-group">
            <label for = "email" class = "col-sm-2 control-label">Email:</label>
            <div class = "col-sm-6">
              <input type ='text' name ='email' id = "email" class = "form-control" placeholder = "Email">
            </div>
          </div>
            <p class = 'error IncorrectLogin'></p>
          <div class = "form-group">
            <label for = "password" class = "col-sm-2 control-label">Password:</label>
            <div class = "col-sm-6">
              <input type='password' name='password' id = "password" class = "form-control" placeholder = "Password">
              <input type='submit' value='Login' class = "btn btn-success last-btn">
            </div>
          </div>
        </form>
      </div>
    </body>
<script type="text/javascript">
  $('.registerForm').on('submit', function(e){
      e.preventDefault()
      $.ajax({
        url: 'users',
        method: 'post',
        data: $(this).serialize(),
        success: function(serverResponse){
          console.log(serverResponse)
          if(!serverResponse['EmailRequired']){ 
            $('.EmailRequired').html("")
          } else { 
            $('.EmailRequired').html(serverResponse['EmailRequired']) 
          }
          if(!serverResponse['InvalidPassword']) {
            $('.InvalidPassword').html("")
          } else {
            $('.InvalidPassword').html(serverResponse['InvalidPassword'])
          }
          if(!serverResponse['EmailDuplicate']) {
            $('.EmailDuplicate').html("")
          } else {
            console.log("here")
            $('.EmailDuplicate').html(serverResponse['EmailDuplicate'])
          }
          if(!serverResponse['IsAlpha']) {
            $('.IsAlpha').html("")
          } else {
            $('.IsAlpha').html(serverResponse['IsAlpha'])
          }
          if(!serverResponse['PasswordLength']) {
            $('.PasswordLength').html("")
          } else {
            $('.PasswordLength').html(serverResponse['PasswordLength'])
          }
          if(!serverResponse['PasswordRequired']) {
            $('.PasswordRequired').html("")
          } else {
            $('.PasswordRequired').html(serverResponse['PasswordRequired'])
          }
          if(!serverResponse['TwoCharacters']) {
            $('.TwoCharacters').html("")
          } else {
            $('.TwoCharacters').html(serverResponse['TwoCharacters'])
          }
          if(!serverResponse['passcodeError']) {
            $('.passcodeError').html("")
          } else {
            $('.passcodeError').html(serverResponse['passcodeError'])
          }
          if(!serverResponse['InvalidPhone']) {
            $('.InvalidPhone').html("")
          } else {
            $('.InvalidPhone').html(serverResponse['InvalidPhone'])
          }
          if(serverResponse.data) {
            window.location.replace("http://localhost:8000/UserDashboard/")
          }
        }
      })
    });
  $('.loginForm').on('submit', function(e){
      e.preventDefault()
      $.ajax({
        url: 'login',
        method: 'post',
        data: $(this).serialize(),
        success: function(serverResponse){
          if(!serverResponse['NoEmail']) {
            $('.NoEmail').html("")
          } else {
            $('.NoEmail').html(serverResponse['NoEmail'])
          }
          if(!serverResponse['IncorrectLogin']) {
            $('.IncorrectLogin').html("")
          } else {
            $('.IncorrectLogin').html('<a href="{%url "login:resetPasswordDisplay" %}">Forgot Password?</a>')
          }
          if(serverResponse.data) {
            window.location.replace("http://localhost:8000/UserDashboard/")
          }
        }
      })
    });
 </script>
</html>