        <div class = "loginAjax">
          <h1> Agent Login </h1>
          {% if NoEmail %}
            <p class = 'error'> {{ NoEmail }} </p>
          {% endif %}
          <div class = "form-group">
            <label for = "email" class = "col-sm-2 control-label">Email:</label>
            <div class = "col-sm-6">
              <input type ='text' name ='email' id = "email" class = "form-control" placeholder = "Email" value = "{{E}}">
            </div>
          </div>
          {% if IncorrectLogin %}
            <p class = "error"><a href="{%url 'login:resetPasswordDisplay' %}">Forgot Password?</a></p>
          {% endif %}
          <div class = "form-group">
            <label for = "password" class = "col-sm-2 control-label">Password:</label>
            <div class = "col-sm-6">
              <input type='password' name='password' id = "password" class = "form-control" placeholder = "Password">
              <input type='submit' value='Login' class = "btn btn-success last-btn">
            </div>
          </div>
        </form>
      </div>