 <div class = "resetPasswordAjax">
    {% if NoEmail %}
      <p class = 'error'> {{ NoEmail }} </p>
    {% endif %}
    {% if Success %}
      <p class = 'green'> {{ Success }} </p>
    {% endif %}
    <div class = "form-group">
    <label for = "email" class = "col-sm-3 control-label">Email:</label>
    <div class = "col-sm-9">
      <input type ='text' name ='email' id = "email" class = "form-control" placeholder = "Email">
      <input type='submit' value='Submit' class = "btn btn-success last-btn">
    </div>
    </div>
</div>